.logo-container {
  background-image: url('../images/home-bg2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container > span {
  color: #222;
}

.home-logo {
    width: 400px;
}