.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fafafa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.login-button {
  padding: 10px;
  background-color: #502314;
  color: white;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #3e1b10;
}
.regist-button {
  padding: 10px;
  background-color: #502314;
  color: white;
  border: none;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.regist-button:hover {
  background-color: #3e1b10;
}