.select-container {
  padding: 30px;
}

.selectbar-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 100px;
}

.select-hello {
  font-size: 20px;
}

.selectbar-container-label {
  font-family: "Bold", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}

.radio-label {
  display: inline-block;
  padding: 10px 0;
  text-align: center;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #ddd;
  user-select: none;
  transition: background-color 0.3s, border-color 0.3s;
  font-size: 16px;
  min-width: 120px;
}

.radio-label.checked {
  background-color: #222;
  color: #fff;
}

.submit-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #222;
  color: #fff;
  border: 1px solid #ddd;
  overflow: hidden;
  border-radius: 6px;
}

.animated-section {
  overflow: hidden;
}
