@font-face {
  font-family: 'Bold';
  src: url('./assets/fonts/NotoSansKR-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Default';
  src: url('./assets/fonts/NotoSansKR-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Italic';
  src: url('./assets/fonts/font6.woff2') format('woff2'),
       url('./assets/fonts/font6.woff') format('woff'),
       url('./assets/fonts/font6.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Default', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
}

html, body {
  background-color: #eee;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.review-popup-content,
.group-place,
.review-form-group textarea {
  -ms-overflow-style: auto; /* IE and Edge */
  scrollbar-width: thin; /* Firefox */
}

.review-popup-content::-webkit-scrollbar,
.group-place::-webkit-scrollbar,
.review-form-group textarea::-webkit-scrollbar {
  display: block;
  width: 8px;
}

.review-popup-content::-webkit-scrollbar-thumb,
.group-place::-webkit-scrollbar-thumb,
.review-form-group textarea::-webkit-scrollbar-thumb {
  background: #4a93ff;
  border-radius: 10px;
}

.review-popup-content::-webkit-scrollbar-track,
.group-place::-webkit-scrollbar-track,
.review-form-group textarea::-webkit-scrollbar-track {
  background: #dbe9ff;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
} */
